body {
    background-color: #E6D5EB;

}

.main-container {
    background-color: white;
    align-items: center;
    padding: 1% 10%;
}

.container {
    display: flex;
    padding: 5% 5%;
    background: transparent;
    background-color: #E6D5EB;

}

.divR,
.divL {
    box-sizing: border-box;
    padding: 1px;

}

.divL {
    align-items: left;
    background-color: white;
    padding: 0% 15%;

}

.divR {
    background-image: url("images/cards.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1% 1%;
    width: 100%;




}

h1 {
    letter-spacing: 2px;

    text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;
    color: #9555af;
    align-items: center;
    padding: 0% 15%;



}

.container h3,
h2 {
    letter-spacing: 1px;
    color: #834899;

    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
    opacity: 0.5;
}

#result {

    border: solid 1px transparent;
    border-radius: 4px;
    ;
    margin: 2px 0;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #B482C4;
}

#result:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

#result:hover {
    color: #9555af;
    border-color: currentColor;
    background-color: white;
}

#result:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
        0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

#result {
    outline: none;
}