.container{
    padding:5% 25%;
}
#result{
   
    border:solid 1px transparent;
    border-radius: 4px;;
    margin: 2px 0;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #9555af;
}